.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

// list item
.icon-container {
  border-radius: 7px
}

.stars i {
  margin-right: 2px;
  color: red;
  font-size: 13px
}

.rating-number {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2px
}

.number-ratings {
  font-size: 12px
}

.listing-title {
  margin-bottom: -7px
}

.progress-bar {
  background: green
}

.progress {
  height: 16px
}

.tags span {
  margin-right: 9px;
  border: 1px solid green;
  padding-right: 9px;
  padding-left: 9px;
  padding-top: 2px;
  padding-bottom: 4px;
  border-radius: 7px;
  background-color: green;
  color: #fff
}

// end list item

// testimonials 
.demo {
  background: #bd986b;
}

.testimonial {
  background: #fff;
  text-align: center;
  padding: 30px 30px 50px;
  margin: 0 15px 100px;
  position: relative;
}

.testimonial:before,
.testimonial:after {
  content: "";
  border-top: 40px solid #fff;
  border-right: 125px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.testimonial:after {
  border-right: none;
  border-left: 125px solid transparent;
  left: auto;
  right: 0;
}

.testimonial .icon {
  display: inline-block;
  font-size: 80px;
  color: #bd986b;
  margin-bottom: 20px;
  opacity: 0.6;
}

.testimonial .description {
  font-size: 15px;
  color: #777;
  text-align: left;
  margin-bottom: 30px;
  opacity: 0.8;
}

.testimonial .testimonial-content {
  width: 100%;
  position: absolute;
  left: 0;
}

.testimonial .pic {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #daad86;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.testimonial .pic img {
      width: 100%;
      height: auto;
}

.testimonial .title {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  margin: 0 0 5px 0;
}

.testimonial .post {
  display: block;
  font-size: 14px;
  color: #ffd9b8;
}

.owl-theme .owl-controls {
  margin-top: 0;
}

.owl-theme .owl-controls .owl-page span {
  width: 32px;
  height: 10px;
  background: #fff;
  border: 2px solid #bd986b;
  margin: 5px;
  opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #ffd9b8;
  border-color: #fff;
}

@media only screen and (max-width: 650px) and (min-width: 400px) {
  .testimonial:before {
    border-right: 325px solid transparent;
  }
  .testimonial:after {
    border-left: 325px solid transparent;
  }
}
// end testimonials
