@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

$font-family-header: 'Lato', sans-serif;

// Override Bootstrap variables
$font-family-base: 'Lato', sans-serif;
$border-color: #212529;

@import "public/theme/style";

.custom-pink {
  background-color: #ea4c89;
  color: white;
}
//custom css
.course-block-three:hover {
  .inner-box {
    border-color: #43b97e;
  }
}
.map-sticky {
  position: sticky;
  top: 20px;
  z-index: 98;
  margin-bottom: 30px;
}
.overflow-auto {
  overflow: inherit;
}
.profile-box{
  .box-inner{
    display: flex;
    z-index: 999;
    position: relative;
  }
}
//landlord
.leanlord-search{
  width: 100%;
  max-width: 600px;
}
.roomLandlord-img{
  height: 400px;
  width: 370px;
}
//room
.room-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//courses
.content-box{
  .box-cource-name{
    font-size: 40px;
  }
}
.inner-column{
  .detail-course{
    font-size: 35px;
  }
}
.social-box li {
  position: relative;
  color: #ffffff;
  font-size: 15px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
  margin: 10px 10px 0 0;
}
.title-list-course{
  font-size: 25px;
}
.content-box{
  .box-descrip{
    font-size: 15px;
  }

}
