@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

$font-family-header: 'Lato', sans-serif;

// Override Bootstrap variables
$font-family-base: 'Lato', sans-serif;
$border-color: #212529;

@import "public/theme/style";

.color-f2f{
  color: #43b97e;
}
.custom-pink {
  background-color: #ea4c89;
  color: white;
}
//custom css
.course-block-three:hover {
  .inner-box {
    border-color: #43b97e;
  }
}
.map-sticky {
  position: sticky;
  top: 20px;
  z-index: 98;
  margin-bottom: 30px;
}
.overflow-auto {
  overflow: inherit;
}
.profile-box{
  .box-inner{
    display: flex;
    z-index: 999;
    position: relative;
  }
}
//landlord
.leanlord-search{
  width: 100%;
  max-width: 600px;
}
.roomLandlord-img{
  height: 400px;
  width: 370px;
}
//room
.room-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.green-color{
  color: #43b97e
}
.line-through{
  text-decoration: line-through;
}
.fillter-price{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
//courses
.content-box{
  .box-cource-name{
    font-size: 40px;
  }
}
.total-star{
  font-size: 20px;
  display: flex;
}
.inner-column{
  .detail-course{
    font-size: 35px;
  }
}
.social-box li {
  position: relative;
  color: #ffffff;
  font-size: 15px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
  margin: 10px 10px 0 0;
}
.title-list-course{
  font-size: 25px;
}
.content-box{
  .box-descrip{
    font-size: 15px;
  }
}
.filter-range {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px
}
.sub-category-name {
  width: 100%;
  font-size: 14px;
  text-decoration: none;
  line-height: 2  ;
  letter-spacing: 1px;
  text-align: left;
  padding-right: 15px;
}
.sub-category-arrow {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 14px;
}
.category-item:hover {
  cursor: pointer;
  color: #43b97e;
}
//Category page
.category-name {
  padding: 10px;
  margin: 0 5px 5px 0;
  border: 1px solid;
}
.category-name:hover {
  background-color: #43b97e;
  color: #ffffff;
  cursor: pointer;
}
